altair
fpdf
glob2
GitPython
imageio
labelme==5.5.0
matplotlib
natsort
numpy
opencv-contrib-python-headless
opencv-python
pandas
pathlib
pillow
PyQt5
scikit-image
scikit-learn
scipy
shapely==1.7.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
ultralytics
segmentation_models_pytorch==0.3.4
tensorboard==2.18.0
